{% extends '::base.html.twig' %}

{% block body %}
	<script type="text/javascript">
		var global_report_url = "{{ report_url }}";
	</script>
	<div id="module_container"><div id="form_content" class="report-generation"></div></div>
	{% stylesheets  filter='cssrewrite'
		'bundles/extjs-master/resources/ext-theme-neptune/ext-theme-neptune-all.css'
	%}
		 <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	{% javascripts 
	  'bundles/extjs-master/ext-all-debug.js'
	  'bundles/extjs-master/ext-theme-neptune.js'
	  '@AdminReportBundle/Resources/public/js/pantry_feedback_report.js'
	%}
	  <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}